body{
    background: rgb(31,51,80);
    background: linear-gradient(90deg, rgba(31,51,80,1) 0%, rgba(147,183,190,1) 54%);
    font-family: Work sans;
}
h1,h2, h3, h4{
    color: #F1FFFA;
    font-weight: 300;
}

.question {
    margin: 8px;
    max-width: 32%;
    margin: 5px; 
    box-shadow: 5px -5px 5px #00000034;
    border-radius: 5px;
}
.header {
    background:#93B7BE; 
    padding: 10px;
    border-radius: 5px;
}
.col-md-4{
    
    padding: 0; 
    height: 200px;
    background-color:#F1FFFA; 
}
h4{
    margin: 0; 
}
#personImg {
    max-width: 550px;
}
.form-control{
    margin-bottom: 20px;
}
p {
    font-size: 14px; 
    line-height: 30px;
    margin: 20px;  
}
.question-answer{
    margin-left: 19px;
  
}
#submit {
    margin-top: 10px;
    margin-bottom: 5px; 
    background:#F1FFFA; 
}
.form-control{
    box-shadow: 3px -3px 3px #00000034;
}
#newBff{

    margin-top: 69px;

}
.modal-title{
    color: #40798C;
}

#person{
    color: #40798C;
}